# Analysis of schools registers in PRONATEC

Importing some libraries of Pandas in Python Code

In [4]:
import pandas as pd

Reading CSV file PDA_UNIDADES_RF_EPCT_CSV.csv with pandas. Making this, the pandas will transform he in **DataFrame**.

What is **DataFrame**? Is a archive representation that similar of an Excel spreadsheet

* The archive CSV adoted separes your data with ";". Then, is necessary declare one separator (`sep`) in function `read_csv`
* Declare encoding in `read_csv` with `encoding`

In [11]:
# We adote DataFrame with convention df
df = pd.read_csv('PDA_UNIDADES_RF_EPCT_CSV.csv', sep=';', encoding='cp1252')

# Show first 5 lines in DataFrame
df.head()

,CODIGO_UNIDADE,NOME_UNIDADE,DT_AUTORIZA_FUNCIONA_UNID,NOME_REGIAO_UNIDADE,SIGLA_UF_UNIDADE,NOME_MUNICIPIO_UNIDADE,NOME_MESORREGIAO_UNIDADE,NOME_MICRORREGIAO_UNIDADE
0,2879,INSTITUTO FEDERAL DA BAHIA - CAMPUS EUNÁPOLIS,07-01-2009,Nordeste,BA,Eunápolis,Sul Baiano,Porto Seguro
1,2948,INSTITUTO FEDERAL BAIANO - CAMPUS ITAPETINGA,07-01-2009,Nordeste,BA,Itapetinga,Centro Sul Baiano,Itapetinga
2,14328,INSTITUTO FEDERAL DO ACRE - CAMPUS SENA MADUREIRA,30-12-2008,Norte,AC,Sena Madureira,Vale do Acre,Sena Madureira
3,14547,INSTITUTO FEDERAL DE ALAGOAS - CAMPUS ARAPIRACA,06-07-2010,Nordeste,AL,Arapiraca,Agreste Alagoano,Arapiraca
4,32010,INSTITUTO FEDERAL DE ALAGOAS - CAMPUS CORURIPE,22-01-2014,Nordeste,AL,Coruripe,Leste Alagoano,São Miguel dos Campos

## Questions about archive

**1. How many registers lines in this archive?**

In [12]:
df.count()

CODIGO_UNIDADE               618
NOME_UNIDADE                 618
DT_AUTORIZA_FUNCIONA_UNID    618
NOME_REGIAO_UNIDADE          618
SIGLA_UF_UNIDADE             618
NOME_MUNICIPIO_UNIDADE       618
NOME_MESORREGIAO_UNIDADE     618
NOME_MICRORREGIAO_UNIDADE    618
dtype: int64

**2. Take the numeric column and show your details (mean, count, max, min, standard deviation or desvio padrão)**

In [13]:
df.describe()

       CODIGO_UNIDADE
count      618.000000
mean     16255.610032
std      12973.588737
min        354.000000
25%       2998.500000
50%      13840.500000
75%      30818.250000
max      44307.000000

**3. Show types of columns on archive**

In [17]:
df.dtypes

CODIGO_UNIDADE                int64
NOME_UNIDADE                 object
DT_AUTORIZA_FUNCIONA_UNID    object
NOME_REGIAO_UNIDADE          object
SIGLA_UF_UNIDADE             object
NOME_MUNICIPIO_UNIDADE       object
NOME_MESORREGIAO_UNIDADE     object
NOME_MICRORREGIAO_UNIDADE    object
dtype: object

**4. How many schools exists in each region of Brazil (NOME_REGIAO_UNIDADE)?**

In [21]:
# Use value_counts for counts ocurrent values in diferents categories on rows of table
df['NOME_REGIAO_UNIDADE'].value_counts()

Nordeste        202
Sudeste         163
Sul             116
Norte            70
Centro-Oeste     67
Name: NOME_REGIAO_UNIDADE, dtype: int64